body{
    background-color: #fff;
    color: #3C4858;
}

h1, h2, h3, h4, h5, h6, p, li, .h1, .h2, .h3, .h4, .h5, .h6{
	font-weight: 300;
}

.breadcrumb {
	background-color: inherit;
}

.section{
	padding-top: 50px;
}

.tutorial-list li {
	padding-top: 20px;
	padding-bottom: 20px;
}

.tutorial .card {
	/*height: 100%;*/
}

.tutorial-list img {
	margin-top: 15px;
}

.bg-bmt {
	background-color: #48b550 ;
	color: white;
}

/*TUTORIAL CARD*/
section.tutorial {
	/*background-color: #f8f8f8;*/
}

.tutorial-card {
	margin-bottom: 2rem;
	box-shadow: 3px 2px 1px rgba(204,204,204,.5);
	-webkit-box-shadow: 3px 2px 1px rgba(204,204,204,.5);
	-moz-box-shadow: 3px 2px 1px rgba(204,204,204,.5);
}

.tutorial-card .card-footer {
	background-color: white;
	padding: 1.5rem;
}

.tutorial-card .card-header h3 {
	margin: 0;
}

.tutorial-card .nav-item {
	color: #48b550;
}

.tutorial-card .nav-item.active {
	background-color: #48b550;
	color: white;
}

.sticky-top.tutorial-nav {
	top: 80px;
	z-index: 1010;
}

@media(max-width: 576px) {
	.sticky-top.tutorial-nav {
		position: inherit !important;
	}
}

